<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<appSettings>
		<add key="EntityDBServiceEndpoint" value="https://planetdashplayground1.documents.azure.com:443/" />
		<add key="EntityDBAuthKey" value="vpiSEzmk2KjnxCF3SdVQekJsT6MW0nAW6SZvu1XrNK4WOnQd8HScL11I8Vko0HSTyqksrI07Ub8cBpUuwMXGQQ==" />
	</appSettings>
</configuration>