.de-leaderboard--p {
  color: #5B5B5B;
  margin: 0;
  padding: 0 10px;
  font-family: 'Roboto', sans-serif;
}

.de-leaderboard--avatar{
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.de-leaderboard--halo {
  width: 35px;
  padding: 0 10px;
}

.de-leaderboard--user-info-container {
  display: flex;
  align-items: center;
}

.de-leaderboard--commits-container {
  display: flex;
  align-items: center;
}

.de-leaderboard--row {
  border: .5px solid #c1c1c1;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 6px rgba(0,0,0,0.175);
  justify-content: space-between;
  width: 98%;
  margin: 0 auto;
  padding: 31px 0;
  border-radius: 4px;
}