p {
  color: #5B5B5B;
  margin: 0;
  padding: 0 10px;
  font-family: 'Roboto', sans-serif;
}

.avatar{
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.halo {
  width: 35px;
  padding: 0 10px;
}

.user-info-container {
  display: flex;
  align-items: center;
}

.commits-container {
  display: flex;
  align-items: center;
}